{% load i18n %}
<div class="sidebar-nav">
    <ul class="side-nav color-gray">
        <li class="nav-header">
            <span class="">{% trans "Main Category" %}</span>
        </li>
        <li>
            <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-dashboard"></i> <span>{% trans "Dashboard" %}</span> </a>

        </li>

        <li class="nav-header">
            <span class="">{% trans "Appearance" %}</span>
        </li>
        <li class="has-children">
            <a href="#"><i class="fa fa-file-text"></i> <span>{% trans "Student Classes" %}</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="{% url 'student_classes:create_class' %}"><i class="fa fa-bars"></i> <span>{% trans "Create Class" %}</span></a></li>
                <li><a href="{% url 'student_classes:class_list' %}"><i class="fa fa fa-server"></i> <span>{% trans "Manage Classes" %}</span></a></li>

            </ul>
        </li>
        <li class="has-children">
            <a href="{% url 'subjects:subject_list' %}"><i class="fa fa-file-text"></i> <span>{% trans "Subjects" %}</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="{% url 'subjects:create_subject' %}"><i class="fa fa-bars"></i> <span>{% trans "Create Subject" %}</span></a></li>
                <li><a href="{% url 'subjects:subject_list' %}"><i class="fa fa fa-server"></i> <span>{% trans "Manage Subjects" %}</span></a></li>
                <li><a href="{% url 'subjects:create_subject_combination' %}"><i class="fa fa-newspaper-o"></i>
                        <span>{% trans "Add Subject Combination" %} </span></a></li>
                <a href="{% url 'subjects:subject_combination_list' %}"><i class="fa fa-newspaper-o"></i>
                    <span>{% trans "Manage Subject Combination" %} </span></a>
        </li>
    </ul>
    </li>
    <li class="has-children">
        <a href="{% url 'students:student_list' %}"><i class="fa fa-users"></i> <span>{% trans "Students" %}</span> <i class="fa fa-angle-right arrow"></i></a>
        <ul class="child-nav">
            <li><a href="{% url 'students:student_create' %}"><i class="fa fa-bars"></i> <span>{% trans "Add Students" %}</span></a></li>
            <li><a href="{% url 'students:student_list' %}"><i class="fa fa fa-server"></i> <span>{% trans "Manage Students" %}</span></a></li>

        </ul>
    </li>
    <li class="has-children">
        <a href="#"><i class="fa fa-info-circle"></i> <span>{% trans "Result" %}</span> <i class="fa fa-angle-right arrow"></i></a>
        <ul class="child-nav">
            <li><a href="{% url 'results:declare_result' %}"><i class="fa fa-bars"></i> <span>{% trans "Add Result" %}</span></a></li>
            <li><a href="{% url 'results:result_list' %}"><i class="fa fa fa-server"></i> <span>{% trans "Manage Result" %}</span></a></li>

        </ul>
    <li><a href="{% url 'dashboard:change_password' %}"><i class="fa fa fa-server"></i> <span> {% trans "Admin Change Password" %}</span></a></li>

    </li>
</div>